## load stock_daily_data from database

In [6]:
SQLALCHEMY_DATABASE_URI = 'mysql+pymysql://admin:admin@192.168.64.2:3306/dc_admin_local'

In [7]:
import pandas as pd
from sqlalchemy import create_engine

In [11]:
db_engine = create_engine(
    SQLALCHEMY_DATABASE_URI, 
    pool_size=10, 
    max_overflow=20,
    )
db_connection = db_engine.connect()

In [34]:
# read data into df

df = pd.read_sql('''
SELECT symbol,
       AVG((open+ CLOSE) / 2) AS avg_price,
       YEAR(TIMESTAMP)
FROM quant.stock_daily_data
WHERE symbol LIKE '%%TATAMOTORS%%'
AND   TIMESTAMP BETWEEN '2000-01-01' AND '2020-12-31'
GROUP BY 1,
         3
ORDER BY 3;
''', db_connection);

In [35]:
df.head(20)

        symbol   avg_price  YEAR(TIMESTAMP)
0   TATAMOTORS  244.469685             2003
1   TATAMOTORS  446.804429             2004
2   TATAMOTORS  486.582470             2005
3   TATAMOTORS  823.998700             2006
4   TATAMOTORS  752.852209             2007
5   TATAMOTORS  480.301829             2008
6   TATAMOTORS  384.908745             2009
7   TATAMOTORS  928.572431             2010
8   TATAMOTORS  803.101800             2011
9   TATAMOTORS  259.217032             2012
10  TATAMOTORS  318.177689             2013
11  TATAMOTORS  451.589447             2014
12  TATAMOTORS  448.904234             2015
13  TATAMOTORS  443.794737             2016
14  TATAMOTORS  445.579738             2017
15  TATAMOTORS  285.508028             2018
16  TATAMOTORS  163.946502             2019
17  TATAMOTORS  150.940164             2020