In [1]:
import pandas as pd

In [4]:
krk_df_1, krk_df_2 = pd.read_csv('550-p1-cset-krk-1.csv'), pd.read_csv('550-p1-cset-krk-2.csv')

In [6]:
krk_df_1

     d  1  g  3  h  2  draw
0    c  1  e  2  d  3  draw
1    b  1  d  7  c  7  draw
2    d  2  g  1  g  2  draw
3    d  4  g  6  f  6  draw
4    c  1  b  5  a  5  draw
..  .. .. .. .. .. ..   ...
214  d  3  d  7  a  7  nine
215  b  1  b  4  g  1  nine
216  d  4  e  8  g  2  nine
217  c  2  d  5  f  1  nine
218  d  4  c  6  e  1  nine

[219 rows x 7 columns]

In [7]:
krk_df_2

     d  1  f  3  e  4  draw
0    a  1  f  3  g  3  draw
1    c  2  b  8  b  7  draw
2    d  1  g  4  h  3  draw
3    b  1  g  7  h  8  draw
4    b  1  b  7  b  8  draw
..  .. .. .. .. .. ..   ...
214  c  3  f  6  h  1  nine
215  d  3  a  8  f  3  nine
216  c  2  d  7  h  8  nine
217  c  2  h  4  e  3  nine
218  c  2  e  8  f  1  nine

[219 rows x 7 columns]